#showcase {
    position: relative;
    background: url("../img/clothes.jpg");
    background-size: cover;
    min-height: 600px;
}

#showcase .primary-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#loginModal {
    margin: auto
}



@media (max-width: 991px) {
    .mb-resp {
        margin-bottom: 0.5rem;
    }
}