<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand text-info">Vinciu</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="women.html">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="men.html">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="kids.html">Kids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
            </ul>

            <form method="GET" action="#" class="m-auto">
                <div class="input-group mb-resp">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item mr-2">
                    <a href="messages.html" class="nav-link btn btn-lg">
                       <span class="d-inline d-lg-none">Messages </span><i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item mr-2">
                    <a href="messages.html" class="nav-link btn btn-lg">
                        <span class="d-inline d-lg-none">Favourites </span><i class="fas fa-heart"></i>
                    </a>
                </li>
                <li class="nav-item dropdown mr-2">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <span class="d-inline d-lg-none btn btn-lg px-0">User </span>
                        <img src="{{ user.profile.avatar.url }}" alt="" width="32" height="32" class="img-fluid rounded-circle">
                    </a>
                    <div class="dropdown-menu">
                        <a href="{% url 'profile' user.get_username %}" class="dropdown-item">
                            <i class="fas fa-user-circle"></i> Profile
                        </a>
                        <a href="{% url 'settings' %}" class="dropdown-item">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                        <a href="javascript:{document.getElementById('logout').submit()}" class="dropdown-item">
                            <i class="fas fa-user-times"></i> Logout
                        </a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    </div>

                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'sell' %}">Sell Now</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item mb-resp mr-2">
        <button class="nav-link btn btn-outline-info btn-sm btn-block text-muted" data-toggle="modal" data-target="#loginModal">Sign
            Up | Log in</button>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'sell' %}">Sell Now</a>
    </li>
</ul>
</div>
</div>
</nav>


<!-- LOGIN MODAL -->
<div class="modal fade" id="loginModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Join Vinciu</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body m-auto">
                <a href="{% url 'signup' %}" class="btn btn-light">Sign Up</a>
                <span><i class="fas fa-angle-double-left"></i></span>
                <span><i class="fas fa-angle-double-right"></i></span>
                <a href="{% url 'login' %}" class="btn btn-light">Login</a>
            </div>
        </div>
    </div>
</div>
{% endif %}