{% extends 'base.html' %}

{% block title %} | Account Login {% endblock %}

{% block content %}
<!-- LOGIN SECTION -->
{% if user.is_authenticated %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="alert alert-danger">
                    <strong>Error</strong> Logged in users can't log in again.
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <div class="card text-center">
                    <div class="card-body">
                        <!-- Alerts -->
                        {% include 'partials/_alerts.html' %}
                        <h4 class="card-title">Login</h4>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                    required>
                            </div>
                            <input type="submit" value="Login" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}