{% extends 'base.html' %}

{% block title %} | Opinions {% endblock %}

{% block content %}
<!-- OPINIONS -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Did you make deal with that user?</p>
                            <p class="text-muted">Let us know what you think</p>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center">
                            <a href="{% url 'new_opinion' user_queryset.get_username %}" class="btn btn-info">Leave
                                Your Opinion</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column row-hl">
                        <div class="p-2 item-hl border-bottom">
                            <img src="https://source.unsplash.com/random/32x32/?people" alt="" width="48" height="48"
                                class="img-fluid rounded-circle">
                            <strong>kondzix330</strong>
                            <p class="float-right text-muted">2 days ago</p>
                            <p class=" mx-2 px-5">
                                <i class="fas fa-star"></i> 4
                                super polecam</p>
                        </div>
                        <div class="p-2 item-hl border-bottom">
                            <img src="https://source.unsplash.com/random/32x32/?people" alt="" width="48" height="48"
                                class="img-fluid rounded-circle">
                            <strong>kondzix330</strong>
                            <p class="float-right text-muted">2 days ago</p>
                            <p class=" mx-2 px-5">
                                <i class="fas fa-star"></i> 4
                                super polecam</p>
                        </div>
                        <div class="p-2 item-hl border-bottom">
                            <img src="https://source.unsplash.com/random/32x32/?people" alt="" width="48" height="48"
                                class="img-fluid rounded-circle align-item">
                            <strong>kondzix330</strong>
                            <p class="float-right text-muted">2 days ago</p>
                            <p class=" mx-2 px-5">
                                <i class="fas fa-star"></i> 4
                                super polecam</p>
                        </div>

                        <!-- PAGINATION -->
                        <nav class="m-4">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}