{% extends 'base.html' %}

{% block title %} | About Us {% endblock %}

{% block content %}
<!-- ABOUT SECTION -->
<section class="text-center mt-5">
    <div class="container">
        <h1 class="display-3 mb-5">Lorem ipsum dolor sit.</h2>
            <p class="lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero nam voluptas quaerat
                assumenda est aspernatur tempore a labore voluptate aliquid. Vitae corrupti veritatis architecto
                commodi necessitatibus distinctio quod! Labore, architecto.</p>
            <h1>Our Staff</h1>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://source.unsplash.com/random/302x300/?people" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Lily Adams</h4>
                    <small>Marketing Manager</small>
                </div>
                <div class="col-md-3">
                    <img src="https://source.unsplash.com/random/302x300/?people" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Sara Williams</h4>
                    <small>Business Manager</small>
                </div>
                <div class="col-md-3">
                    <img src="https://source.unsplash.com/random/302x300/?people" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Jane Doe</h4>
                    <small>CEO</small>
                </div>
                <div class="col-md-3">
                    <img src="https://source.unsplash.com/random/302x300/?people" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Steve Smith</h4>
                    <small>Web Developer</small>
                </div>
            </div>
    </div>
</section>
{% endblock %}