{% extends 'base.html' %}

{% block title %} | Sell your clothes {% endblock %}

{% block content %}
<!-- SHOWCASE -->
<section id="showcase">
  <div class="primary-overlay text-white">
    <div class="container">
      <div class="row">
        <div class="col mt-5">
          <h1 class="display-4 mt-5">Sell your clothes</h1>
          <h1 class="display-4">and make money!</h1>
          <p class="lead mt-3">Just snap, upload and sell - for free.</p>
          <a class="btn btn-info btn-lg text-white" href="{% url 'sell' %}">Sell Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% if messages %}
<br>
<!-- Alerts -->
{% include 'partials/_alerts.html' %}
{% endif %}

<!-- LISTINGS -->
<section id="listings">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
        <div class="card">
          <div class="card-header">
            <img src="https://source.unsplash.com/random/300x200/?people" alt="" width="32" height="32" class="img rounded-circle ">
            <h5 class="d-inline align-middle ml-1">Anna Krawczyk</h5>
          </div>
          <a href="item.html">
            <img class="card-img" src="https://source.unsplash.com/random/200x300/?clothe" alt="">
          </a>
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/301x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/302x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/303x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/300x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/301x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/302x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/303x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/300x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/301x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/302x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card">
          <div class="card-header">
            <h5>Anna Krawczyk</h5>
          </div>
          <img class="card-img" src="https://source.unsplash.com/random/303x200/?clothe" alt="">
          <div class="card-body">
            <h6 class="card-title">$8.00</h6>
            <small class="text-muted">M |</small>
            <small class="text-muted">H&M</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}