{% extends 'base.html' %}

{% load humanize %}

{% block title %} | User profile {% endblock %}

{% block content %}
<!-- PROFILE SECTION -->
<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3">
                <div class="card">
                    <img class="card-img-top" src="{{ user_queryset.profile.avatar.url }}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ user_queryset.get_username }}</h3>
                        <p class="card-text">{{ user_queryset.profile.bio }}</p>
                        <hr>
                        <small class="text-muted">Dodane informacje:</small>
                        <p><i class="fas fa-check"></i> E-mail</p>
                        {% if user_queryset.profile.phone_number %}
                            <p><i class="fas fa-check"></i> Phone Number</p>
                        {% endif %}
                        {% if user_queryset.profile.location %}
                        <p><i class="fas fa-map-marker-alt"></i> {{ user_queryset.profile.location }} </p>
                        {% endif %}
                        <p><i class="fas fa-clock"></i> Last login: {{ user_queryset.last_login|timesince }} ago</p>
                        <hr>
                        <a href="{% url 'opinions' user_queryset.get_username %}" class="btn btn-light btn-block btn-sm text-center">
                            <p><i class="fas fa-star"></i>{{ avg_rating.rating__avg|floatformat }} ({{ total_comments }} comments) <i class="fas fa-angle-right"></i></p>
                            <p>Add opinion</p>
                        </a>
                        <hr>
                        <a href="message.html" class="btn btn-info btn-block">Send Message</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-3 px-1">
                        <div class="card">
                            <a href="item.html">
                                <img class="card-img-top" src="https://source.unsplash.com/random/200x300/?clothe" alt="">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title">$8.00</h6>
                                <small class="text-muted">M |</small>
                                <small class="text-muted">H&M</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-3 px-1">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/301x200/?clothe" alt="">
                            <div class="card-body">
                                <h6 class="card-title">$8.00</h6>
                                <small class="text-muted">M |</small>
                                <small class="text-muted">H&M</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-3 px-1">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/302x200/?clothe" alt="">
                            <div class="card-body">
                                <h6 class="card-title">$8.00</h6>
                                <small class="text-muted">M |</small>
                                <small class="text-muted">H&M</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-3 px-1">
                        <div class="card">
                            <img class="card-img-top" src="https://source.unsplash.com/random/303x200/?clothe" alt="">
                            <div class="card-body">
                                <h6 class="card-title">$8.00</h6>
                                <small class="text-muted">M |</small>
                                <small class="text-muted">H&M</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}